<div class="views-switcher">
  {% spaceless %}
  {% for display in display_infos %}
    {% set activelink= '' %}
    {% if display['active'] %}
      {% set activelink= 'active' %}
    {% endif %}
    <a href="{{ display['url'] }}" class="{{ activelink }}">{{ display['title'] }}</a>
  {% endfor %}
  {% endspaceless %}
</div>