body {
  margin: 0;
  background-color: #F2F2F2;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #292F33;
}

a, a:visited, a:hover {
  color: #339DC3;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: font-size: 170%;
}

h3 {
  border-bottom: solid 1px #E1E8ED;
  margin: 0;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header-website {
  width: 100%;
}

.wrapper-inner {
  max-width: 1264px;
  position: relative;
  margin: auto;
}

.wrapper-header {
  height: 100px;
}

.header-banner {
  height: 210px;
  background-image: url("../images/banner.png");
  background-repeat: repeat;
  background-size: cover;
  position: relative;
}

.black-overlay {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.header-banner-container {
  height: 100%;
  display: flex;
}

.header-logo {
  height: 100%;
  width: auto;
}

.header-title {
  display: flex;
  align-items: center;
  padding-left: 50px;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

.header-title a {
  color: white;
  text-decoration: none;
}

.website-title {
  font-size: 34px;
}

.main-navigation {
  width: 100%;
  height: 60px;
  border-bottom: solid 1px #E1E8ED;
  background-color: #FFFFFF;
}

.navigation-menu {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  height: 100%;
  font-size: 16px;
}

.navigation-menu li {
  height: 100%;
}

.navigation-menu li a {
  padding-left: 35px;
  padding-right: 35px;
  display: flex;
  align-items: center;
  height: 100%;
  color: #292F33;
}

.navigation-menu li:not(:last-child) {
  border-right: solid 1px #E1E8ED;
  border-right: solid 1px #E1E8ED;
}

.main-navigation a, .main-navigation a:visited, .main-navigation a:hover {
  color: inherit;
  text-decoration: none;
}

.main-navigation a:hover {
  border-bottom: solid 4px #339DC3;
  padding-top: 4px;
  box-sizing: border-box;
}

.website-content {
  background-color: #F2F2F2;
  padding-top: 20px;
}

.slider-item {
  overflow: hidden;
  height: 450px;
  display: flex;
}

.slider-image {
  object-fit: cover;
}

.slider-content {
  height: 100%;
  flex-grow: 1;
  background-color: #339DC3;
  color: white;
  padding: 40px;
}

.slider-content h2 {
  font-size: 32px;
}

.slider-content p{
  font-size: 17px;
}

.slider-button, .slider-button:hover, .slider-button:visited {
  color: white;
  text-decoration: none;
}

.slider-button {
  background-color: #284975;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.default-container {
  background-color: #FFF;
  border: solid 1px #E1E8ED;
  border-radius: 5px;
  overflow: hidden;
}

.default-container {
  margin-bottom: 15px;
}

.colored-container {
  background-color: #339DC3;
  border: solid 1px #E1E8ED;
  color: white;
  border-radius: 5px;
  overflow: hidden;
}

.right-column-content-wrapper {
	margin-left: 15px;
	margin-right: 15px;
}

.view-list {
	margin-top: 50px;
}

.view-list-item {
  margin-bottom: 20px;
}

.news-teaser {
	display: flex;
	position: relative;
}

.news-teaser-content h2 a, .news-teaser-content h2 a:hover, .news-teaser-content h2 a:visited {
  color: inherit;
  text-decoration: none;
}

.news-teaser img{
  #object-fit: cover;
  #height: inherit;
  height: 142px;
  width: 225px;
}

.news-teaser .convention-logo-teaser img{
  width: 150px;
  height: auto;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.news-teaser-content {
  padding-left: 20px;
  padding-right: 20px;
}

.news-teaser-content footer {
  color: #889BA8;
  position: absolute;
  top: 20px;
  right: 20px;
}

.template-right-column {
  display: flex;
  margin-top: 20px;
}

.template-right-column--main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.main-content-block {
  flex-grow: 1;
  padding: 20px;
}

.template-right-column--column {
  width: 30%;
  margin-left: 20px;
}

.twitter-timeline-link {
  display: none;
}

.social-media-wrapper {
  display: flex;
  justify-content: space-around;
}

.sprite-social-media {
  width: 60px;
  height: 60px;
  display: block;
  text-indent: -9999px;
}

.sprite-social-media-youtube {
  background: url("../images/socialmedia.png") 0 0;
}

.sprite-social-media-facebook {
  background: url("../images/socialmedia.png") 60px 0;
}

.sprite-social-media-twitter {
  background: url("../images/socialmedia.png") 120px 0;
}

.template-right-column--column .default-container h3 {
  padding-left: 15px;
  padding-right: 15px;
  border-left: solid 15px #339DC3;
}

.separator-list {
  list-style-type: none;
  padding: 0;
}

.separator-list li {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.separator-list li a {
  text-decoration: none;
}

.separator-list li a:hover {
  text-decoration: underline;
}

.separator-list img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 50%;
}

.separator-list p {
  font-size: 13px;
}

.separator-list li:not(:last-child) {
  border-bottom: solid 1px #E1E8ED;
}

.list-projects-date {
  font-size: 12px;
  margin-left: 10px;
  color: #969696;
  flex-grow: 1;
  text-align: right;
}

.footer-website {
  border-top: solid 1px #E1E8ED;
  background-color: #E5F2F7;
}

.footer-menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
  padding-bottom: 14px;
  border-bottom: solid 1px #99CDE1;
}

.footer-menu li:not(:last-child) {
  margin-right: 15px;
}

.footer-menu a {
  text-decoration: none;
  color: inherit;
}

.footer-menu a:hover {
  color: #339DC3;
}

.copyright-website {
  text-align: center;
  font-size: 10px;
}

/* Shine */

.img-reflect figure {
  position: relative;
  width: 225px;
  height: 142px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.img-reflect figure::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
.img-reflect figure:hover::before {
  -webkit-animation: shine .75s;
  animation: shine .75s;
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}

.admin-primary-tabs {
  list-style-type: none;
  display: flex;
}

.admin-primary-tabs a {
  display: block;
  padding: 15px;
  border-radius: 5px;
  border: solid 1px #E1E8ED;
  background-color: white;
  transition: background-color 0.5s, color 0.5s;
  text-decoration: none;
  margin-right: 15px;
}

.admin-primary-tabs a:hover {
  background-color: #339DC3;
  color: white;
}

.admin-primary-tabs .is-active {
  background-color: #339DC3;
  color: white;
}

.news-info-author, .news-info-author article {
  float: right;
}

.news-info-author img {
  border-radius: 50%;
}

.news-text-author {
  width: 250px;
}

.breadcrumb-nav ol {
  list-style-type: none;
  color: #292F33;
  margin: 0;
  display: flex;
}

.breadcrumb-nav ol li{
  position:relative;
  margin-right: 23px;
}

.breadcrumb-nav ol li:first-child a::before {
  content: "";
  background-image: url("../images/house-logo.png");
  display: block;
  height: 25px;
  top: 10px;
  width: 27px;
  left: 0;
  position: absolute;
}

.breadcrumb-nav ol li:first-child a {
  padding-left: 40px;
}

.breadcrumb-nav ol li a {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 5px;
  padding-left: 15px;
  height: 18px;
  display: block;
}

.breadcrumb-nav ol li::after {
  content: "";
  width: 0; 
  height: 0; 
  border-top: 23px solid transparent; 
  border-bottom: 23px solid transparent; /* 40px height (20+20) */
  border-left: 23px solid #bfc5c9;
  position:absolute;
  right:-23px;
  top: 0;
  z-index:1;
}

.breadcrumb-nav ol li a::after {
  content: "";
  width: 0; 
  height: 0; 
  border-top: 22px solid transparent; 
  border-bottom: 22px solid transparent; /* 40px height (20+20) */
  border-left: 22px solid white;
  position:absolute;
  right:-22px;
  top: 1px;
  z-index:2;
} 

.breadcrumb-nav ol a, .breadcrumb-nav ol a:visited {
  color: inherit;
  text-decoration: none;
}

.news-tag-list {
  display: flex;
}

.news-tag-title {
  font-weight: bold;
  margin-left: 10px;
  align-self: center;
}

.news-tag-list a, .news-tag-list a:visited {
  background-color: #339DC3;
  color: white;
  display: block;
  text-decoration: none;
  padding: 5px;
  margin-left: 5px;
}

.news-tag-list a:hover {
  text-decoration: underline;
}

.film-info {
  float: right;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: #E1E8ED;
  border: solid 1px #7F8487;
}

.film-info-image {
  border-bottom: solid 1px #7F8487;
}

.film-info-image img {
  display: block;
}

.film-info-name {
  text-align: center;
  padding: 10px;
}

.film-info-table {
  padding: 0 10px 10px 10px;; 
}

.character-list {
  display: flex;
}

.character-item {
  margin-right: 20px;
  overflow: hidden;
  position: relative;
  background: #000;
  color: white;
}

.character-item img {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  display: block;
}
.character-item:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  opacity: .3;
}

.character-name {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  width: 100%;
  text-align: center;
  padding: 15px;
  height: 50px;
  box-sizing: border-box;
  font-size: 120%;
  font-weight: bold;
  transition: .3s ease-in-out;
}

.character-item:hover .character-name {
  background-color: transparent;
}

.character-desc {
  z-index: 1;
  width: 100%;
  padding: 15px;
  top: 45px;
  position: absolute;
  box-sizing: border-box;
  opacity: 0;
  transition: .3s ease-in-out;
}

.character-item:hover .character-desc {
  opacity: 1;
}

.status-message {
  padding: 20px;
}

.node-readmore a, input[type="submit"] {
  background-color: #339DC3;
  color: white;
  border-radius: 0.25em;
  display: inline-block;
  transition: .3s ease-in-out;
  text-decoration: none;
  padding: .8em 1em;
  border: solid 1px #339DC3;
}

.node-readmore a:hover, input[type="submit"]:hover {
  background-color: white;
  color: #339DC3;
  text-decoration: none;
  cursor: pointer;
}

a.feed-icon {
  background-color: #F99C2D;
  color: white;
  border-radius: 0.25em;
  display: inline-block;
  text-decoration: none;
  padding: .8em 1em;
  border: solid 1px #F99C2D;
  padding-left: 50px;
  background-image: url("../images/rss.png");
  background-repeat: no-repeat;
  background-position: 10px 8px;
}

a.feed-icon:hover {
  background-color: white;
  color: #F99C2D;
  text-decoration: none;
  cursor: pointer;
  background-image: url("../images/rsshover.png");
}

.user-infos {
  float: right;
  margin-left: 15px;
  margin-bottom: 15px;
}

input[type="text"], input[type="email"], input[type="password"] {
  height: 46px;
  padding: 10px 16px;
  line-height: 1.3333333;
  font-size: 1em;
  box-sizing: border-box;
  color: #555;
  display: block;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

textarea {
  padding: 10px 16px;
  line-height: 1.3333333;
  font-size: 1em;
  box-sizing: border-box;
  color: #555;
  display: block;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  font-family: 'Open Sans',sans-serif;
}

textarea:focus, input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
  border-color: #66AFE9;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.form-item {
  margin-bottom: 20px;
}

.form-item label{
  margin: 10px;
  display: inline-block;
}

.convention-countdown-container {
  position: relative;
  text-align: center;
  color: white;
  margin: auto;
  width: 750px;
  height: 250px;
}

.convention-countdown-container h3 {
  border: none;
  font-size: 170%;
  text-shadow: 0px 0px 2px #004B6F, 0px 0px 15px #00ACFF;
  color: white;
}

.convention-countdown-container .convention-countdown {
  font-size: 110%;
  text-shadow: 0px 0px 2px #004B6F, 0px 0px 15px #00ACFF;
  color: white;
}

.convention-countdown-container .convention-countdown span {
  font-weight: bold;
  font-size: 140%;
}

.convention-countdown-infos {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 20px;
}

.countdown-convention-logo {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.countdown-actor-photo img {
  border-radius: 50%;
  width: 115px;
  height: 115px;
  margin-top: 10px;
}

@media screen and (max-width: 1264px) {
  .template-right-column--column {
    display: none;
  }
  
  h1 {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  
  .slider-item {
    display: block;
    position: relative;
    height: auto;
  }
  
  .slider-item>img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .slider-item .slider-content {
    width: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15%;
    box-sizing: border-box;
  }
  
  .news-teaser .img-reflect {
    height: 100%;
    display: block;
  }
  .news-teaser .img-reflect figure {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 10px;
  }
  .news-teaser .img-reflect figure img {
    transform: translate(-62px,-21px);
  }
  
  .news-teaser-content footer {
    position: static;
  }
}

@media screen and (max-width: 500px) {
  .news-teaser-content {
    padding-left: 0;
    padding-right: 5px;
  }
  
  .news-teaser .img-reflect figure {
    width: 40px;
    height: 40px;
  }
  
  .header-banner {
    display: none;
  }
  
  .main-navigation {
    height: auto;
    overflow: hidden;
  }
  
  .navigation-menu {
    flex-direction: column;
    height: 0;
    transition: height .5s ease;
  }
  
  .main-navigation.open .navigation-menu {
    height: auto;
  }
  
  .navigation-menu>li{
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  
  .navigation-menu li {
    border-bottom: solid 1px #E1E8ED;
  }
  
  .main-navigation a:hover {
    border: none;
    padding-top: 0;
  }
  
  .mobile-menu-button {
    width: 30px;
    height: 28px;
    padding: 10px;
    cursor: pointer;
  }
  
  .lines {
    border-bottom: 17px double #292F33; 
    border-top: 6px solid #292F33; 
    content:"";
    height: 5px; 
    width:30px;
  }
}