{#
/**
 * @file
 * Theme of the twitter timeline block.
 *
 * Available variables:
 * - account_name: The name of the Twitter account.
 *
 * @see template_preprocess_block()
 */
#}
<div class="twitter-timeline-container">
  <a class="twitter-timeline-link twitter-timeline" data-lang="{{ language }}" data-height="500" data-theme="light" href="https://twitter.com/{{ account_name }}">{{ "Tweets by"|t }} {{ account_name }}</a>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>